@model CadastroHabCMAS.ViewModel.PessoaEnderecoViewModels.CpfEncontradoViewModel

@{
    //TODO consertar cesta basica
    Layout = null;
}
<b>CPF JÁ ENCONTRADO</b>

<div class="form-row">
    <div class="col-md-3 mb-3">
        <label for="validationTooltip01">NOME:</label>
        <div class="input-group mb-3">
            <input type="text" asp-for="Pessoa.Nome" class="form-control" id="nis" placeholder="CPF" aria-label="Recipient's username" readonly>
        </div>
    </div>
    <div class="col-md-3 mb-3">
        <label for="validationTooltip01">CPF:</label>
        <div class="input-group mb-3">
            <input type="text" asp-for="Pessoa.Cpf" class="form-control" id="cpf" placeholder="CPF" aria-label="Recipient's username" readonly>
        </div>
    </div>
    @if (Model.Pessoa.CadastroCmas is not null)
    {
        <div class="col-md-3 mb-3">
            <label for="validationTooltip01">NIS:</label>
            <div class="input-group mb-3">
                <input type="text" asp-for="Pessoa.CadastroCmas.Nis" class="form-control" id="nis" placeholder="NIS" aria-label="Recipient's username" readonly>
            </div>
        </div>
    }
</div>
@if (Model.Endereco.Cesta is not null)
{
    <div class="form-row">
        <div class="col-md-3 mb-3">
            <label for="validationTooltip01">Quantidade Cestas:</label>
            <div class="input-group mb-3">
                <input type="text" asp-for="Endereco.Cesta" class="form-control" id="cpf" placeholder="Quantidade Cestas" aria-label="Recipient's username" readonly>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationTooltip01">Numero de Entregas das Cestas:</label>
            <div class="input-group mb-3">
                <input type="text" asp-for="Endereco.Cesta" class="form-control" id="cpf" placeholder="Numero Entregas" aria-label="Recipient's username" readonly>
            </div>
        </div>
    </div>

    <p class="lead">Entregas</p>

    <div class="form-row">
        <div class="col-md-3 mb-3">
            <label for="validationTooltip01">Unidade da Entrega:</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="nis" placeholder="CPF" aria-label="Recipient's username" readonly>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationTooltip01">Agente da Entrega:</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="nis" placeholder="CPF" aria-label="Recipient's username" readonly>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationTooltip01">Data da Entrega:</label>
            <div class="input-group mb-3">
                <input type="date" class="form-control" id="nis" placeholder="CPF" aria-label="Recipient's username" readonly>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationTooltip01">Status da Entrega:</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="nis" placeholder="CPF" aria-label="Recipient's username" readonly>
            </div>
        </div>
    </div>
}