@model CadastroHabCMAS.ViewModel.CestasBasicasViewModels.AddCestaBasicaViewModel

@{
    Layout = null;
}
<form asp-action="PV_CestaAdd" enctype="multipart/form-data" method="post">
    <p class="lead">Adicione uma Cesta basica</p>
    <input type="text" asp-for="IdPessoa" value="@Model.Pessoa.Id" hidden readonly>
    <div class="form-row">
        <div class="col-md-3 mb-3">
            <label for="validationTooltip01">Quantidade:</label>
            <input type="number" asp-for="Quant" class="form-control" id="validationTooltip01" required>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationTooltip01">Numero de Meses:</label>
            <input type="number" asp-for="NumeroMeses" class="form-control" id="validationTooltip01" required>
        </div>
    </div>
    <div class="form-row">
        <label for="validationTooltip01">Tipo de Demanda:</label>
        <select asp-for="Demandas" class="form-select" aria-label="Default select example">
            <option value="Espontanea">Espontanea</option>
            <option value="PAEFI">PAEFI</option>
            <option value="PAIF">PAIF</option>
            <option value="Judicial">Judicial</option>
            <option value="ConselhoTutelar">ConselhoTutelar</option>
            <option value="SCFV">SCFV</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlFile1">Anexos (Se houver)</label>
        <input type="file" asp-for="Anexos" class="form-control-file" id="anexos" multiple>
    </div>
    <button class="btn  btn-outline-success" type="submit">Enviar</button>
    <button class="btn  btn-outline-warning" type="reset">Limpar</button>
</form>