@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_LayoutIndex";
}
<head>
    <style>
            body{
                background-color: #E8EEF1;
            }
            .flex-container{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-content:space-around;
            }
            .flex-container > div{
                margin: 10px;
                color: #E8EEF1;
            }
            .card-header{
                background-color:#006e80;
            }
            .card{
                background-color: #51a8b1;   
            }
            #trabalho-header{
                background-color: #6A5ACD;    
            }
            #trabalho-body{
                background-color: #9FAFFF;                        
            }
        </style>
</head>
<body>
<div class="flex-container">
    <div class="card text-center" style="width: 18rem;">
        <div class="card-header" id="trabalho-header">
            Painel do Servidor
        </div>
        <a asp-action="Painel" class="btn btn-outline-light card-body" id="trabalho-body">
            Ir
        </a>
    </div>
    <div class="card text-center" style="width: 18rem;">
        <div class="card-header" id="trabalho-header">
            PPA
        </div>
        <a href="http://ppa.portonacional.to.gov.br/" class="btn btn-outline-light card-body" id="trabalho-body">
            Acessar PPA
        </a>
    </div>
</div>
</body>