@model CadastroHabCMAS.ViewModel.DiretoriaDoTrabalhoViewModels.CadastroCurriculoViewModel

@{
    ViewBag.Title = "title";
    Layout = "_LayoutEmpty";
}

<div class="form--cadastro">
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationTooltip01">Local:</label>
            <input type="text" asp-for="Local" class="form-control" id="validationTooltip01" placeholder="Local de Experiência" required>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationTooltip02">Descricação:</label>
            <input type="text" asp-for="Descricao" class="form-control" id="cpf" placeholder="Breve resumo do que era feito no local" required>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-3 mb-3">
            <label for="validationTooltip01">Data de Inicio da experiência:</label>
            <div class="input-group mb-3">
                <input type="date" asp-for="DataInicio" class="form-control" id="nis" placeholder="dd/mm/aaaa" aria-label="Recipient's username">
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationTooltip01">Data de Fim da experiência:</label>
            <div class="input-group mb-3">
                <input type="date" asp-for="DataFinal" class="form-control" id="nis" placeholder="dd/mm/aaaa" aria-label="Recipient's username">
            </div>
        </div>
    </div>
</div>