@model CadastroHabCMAS.ViewModel.DiretoriaDoTrabalhoViewModels.CadastroCurriculoViewModel

@{
    ViewBag.Title = "title";
    Layout = "_LayoutEmpty";
}

<div class="form--cadastro">
    <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationTooltip01">Titulo:</label>
                <input type="text" asp-for="Titulo" class="form-control" id="validationTooltip01" placeholder="Titulo do certificado" required>
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationTooltip02">Expeditor:</label>
                <input type="text" asp-for="Expeditor" class="form-control" id="cpf" placeholder="Instituição que expediu o certificado" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3 mb-3">
                <label for="exampleFormControlFile1">Copia Certificado</label>
                <input type="file" class="form-control-file" id="anexos">
            </div>
        </div>
</div>